<!DOCTYPE html>
<html>
    <head>
        <title>Today activities</title>
        <style>
            h1 {
                font-size: 80px;
                color: blueviolet;
                text-align: center;
            }
            #banner{
                width: 100%;
                height: 300ppx;
                object-fit: cover;
            }
            #container{
                max-width: 600px;
                margin : 0 auto 0 auto;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Activités du jour</h1>
            <img id="banner" src="{{ url_for('static', filename='surfAndSkate.jpg') }}" height="320">
            <h2>Conditions météo:</h2>
            <p>To do: show weather forecast</p>
            <h2>To do: show activities</h2>
        </div>
    </body>
</html>
